@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<MVCENTITYCRUD.Models.Producto>;

<div class="row">
    <div class="container-hidden col-sm-8 offset-sm-2">
        <h2>Lista productos</h2>
        <a asp-controller="Producto" asp-action="Nuevo" class="btn btn-success mb-3">Nuevo</a>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre del producto</th>
                    <th>Categoria</th>
                    <th>Precio</th>
                    <th>Ingredientes</th>
                    <th></th>
                </tr>
            <tbody>
                    @foreach (var item in Model)
                    {

                    <tr>
                        <td>@item.IdProducto</td>
                        <td>@item.NombreProducto</td>
                        <td>@item.Categoria.NombreCategoria</td>
                        <td>@item.Precio</td>
                        <td>@item.Ingredientes</td>
                        <td>
                            <a asp-controller="Producto"
                               asp-action="Editar"
                               asp-route-id="@item.IdProducto"
                               class="btn btn-primary">Editar</a>

                            <a asp-controller="Producto"
                               asp-action="Eliminar"
                               asp-route-id="@item.IdProducto"
                               onclick="return confirmar()"
                               class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>


                    }
            </tbody>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        function confirmar() {
            return confirm("Esta seguro de eliminar el empleado?")
        }
    </script>
}